<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<!-- Macro per sensori di contatto multipli -->
	<xacro:macro name="multi_contact_sensors">
		<!-- Sensore su shoulder_1_link -->
		<gazebo reference="shoulder_1_link">
			<sensor name="shoulder_1_link_sensor" type="contact">
				<selfCollide>true</selfCollide>
				<alwaysOn>true</alwaysOn>
				<update_rate>100</update_rate>
				<contact>
					<collision>shoulder_1_collision</collision>
				</contact>
				<plugin name="bumper_shoulder_1" filename="libgazebo_ros_bumper.so">
					<ros>
						<namespace>contact_sensor</namespace>
						<remapping>bumper_states:=bumper_shoulder_1_link</remapping>
					</ros>
					<frame_name>shoulder_1_link</frame_name>
				</plugin>
			</sensor>
		</gazebo>

		<!-- Sensore su arm_1_link -->
		<gazebo reference="arm_1_link">
			<sensor name="arm_1_link_sensor" type="contact">
				<selfCollide>true</selfCollide>
				<alwaysOn>true</alwaysOn>
				<update_rate>100</update_rate>
				<contact>
					<collision>arm_1_link_collision</collision>
				</contact>
				<plugin name="bumper_arm_1" filename="libgazebo_ros_bumper.so">
					<ros>
						<namespace>contact_sensor</namespace>
						<remapping>bumper_states:=bumper_arm_1_link</remapping>
					</ros>
					<frame_name>arm_1_link</frame_name>
				</plugin>
			</sensor>
		</gazebo>


		<gazebo reference="arm_2_link">
			<sensor name="arm_2_link_sensor" type="contact">
				<selfCollide>true</selfCollide>
				<alwaysOn>true</alwaysOn>
				<update_rate>100</update_rate>
				<contact>
					<collision>arm_2_link_collision</collision>
				</contact>
				<plugin name="bumper_arm_2" filename="libgazebo_ros_bumper.so">
					<ros>
						<namespace>contact_sensor</namespace>
						<remapping>bumper_states:=bumper_arm_2_link</remapping>
					</ros>
					<frame_name>arm_2_link</frame_name>
				</plugin>
			</sensor>
		</gazebo>

		<gazebo reference="wrist_1_link">
			<sensor name="wrist_1_link_sensor" type="contact">
				<selfCollide>true</selfCollide>
				<alwaysOn>true</alwaysOn>
				<update_rate>100</update_rate>
				<contact>
					<collision>wrist_1_link_collision</collision>
				</contact>
				<plugin name="bumper_wrist_1" filename="libgazebo_ros_bumper.so">
					<ros>
						<namespace>contact_sensor</namespace>
						<remapping>bumper_states:=bumper_wrist_1_link</remapping>
					</ros>
					<frame_name>wrist_1_link</frame_name>
				</plugin>
			</sensor>
		</gazebo>

		<gazebo reference="wrist_2_link">
			<sensor name="wrist_2_link_sensor" type="contact">
				<selfCollide>true</selfCollide>
				<alwaysOn>true</alwaysOn>
				<update_rate>100</update_rate>
				<contact>
					<collision>wrist_2_link_collision</collision>
				</contact>
				<plugin name="bumper_wrist_2" filename="libgazebo_ros_bumper.so">
					<ros>
						<namespace>contact_sensor</namespace>
						<remapping>bumper_states:=bumper_wrist_2_link</remapping>
					</ros>
					<frame_name>wrist_2_link</frame_name>
				</plugin>
			</sensor>
		</gazebo>

		<gazebo reference="wrist_3_link">
			<sensor name="wrist_3_link_sensor" type="contact">
				<selfCollide>true</selfCollide>
				<alwaysOn>true</alwaysOn>
				<update_rate>100</update_rate>
				<contact>
					<collision>wrist_3_link_collision</collision>
				</contact>
				<plugin name="bumper_wrist_3" filename="libgazebo_ros_bumper.so">
					<ros>
						<namespace>contact_sensor</namespace>
						<remapping>bumper_states:=bumper_wrist_3_link</remapping>
					</ros>
					<frame_name>wrist_3_link</frame_name>
				</plugin>
			</sensor>
		</gazebo>
		
	</xacro:macro>

</robot>